@import url("https://nspc911.github.io/themes/vencord/BorderedEmbeds.theme.css");
:root {
  /* Border width for the embeds */
  --wh-border-width: 4px;
  /* Background opacity. The higher it is, the more of the border color seeps through */
  --wh-background-opacity: 0%;
  /* Default background color. Relative color is used for those who use transparent themes */
  --wh-default-background: hsl(from var(--background-surface-high) h s l / 100%);
  /* Whether to keep the Suppress Embed button shown, or hide when not hovered on */
  --wh-always-show-suppress-embed-button: 0;
} 