/* Hide voice settings menus in user panel */
div[class^="audioButtonParent__"] button[role="switch"] {
  border-radius: var(--radius-sm);
  & ~ button { display: none; }
}
/* Also reduce the gap between the buttons */
div.container__37e49 > div.buttons__37e49 {
  gap: 1px;
}